/*  Regole generali di pagina  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

container {
  position: relative;
  left: 20vw;
  background-image: url(../img/background.jpg);
}

/*  header  */

.headercont {
  background: lightblue;
  width: 60%;
  height: 200px;
  border: 5px solid;
  border-color: white;
  background-image: url(../img/natural.jpg);
  position: relative;
 }

#tema {
 color: white;
 font-size: 20px;
 position: absolute;
 left: 50%;
 top:50%;
 transform: translate(-50%, -50%);
  }

  #tema2 {
   color: white;
   font-size: 10px;
   /* position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%, -50%);*/
    }
}
  /*  navbar */
  .navbar {
    width: 60%;
    height: 50px;
    background: grey;
    text-align: center;
    border: 2px solid black;
  }

  .menu li {
    display: inline-block;
  }

  .menu {
    display: inline-block;
  }
/*  blocco centrale */
.container {
border: 2px solid black;
}
  /*  left column */
  .rssfeed {
    background: yellow;
    border: 1px solid black;
    width: 20%;
    height: 600px;
    float: left;
    display: inline-block;
  }

  /*  center column */
  .threecolumn {
    background: green;
    border: 1px solid black;
    width: 20%;
    height: 300px;
    float: right;
    display: inline-block;
  }
  /*  right column */
    /*  RC1 */
    /*  RC2 */
    /*  RC3 */
/*  /blocco generale */
/*  footer */
  /*  social corner */
